<button type="submit" (click)="addNucleotide()">Add</button>
<button type="submit" (click)="removeNucleotide()">Remove</button>
<br><br>
<table>
    <tbody>
        <tr>
            <th>DNA</th>
            <th>RNA</th>
        </tr>
        <tr *ngFor="let dnaNucleotide of dnaStrand; let i = index">
            <td><app-nucleotide [dnaNucleotide]="dnaNucleotide"></app-nucleotide></td>
            <td>{{rnaStrand[i].value}}</td>
        </tr>
    </tbody>
</table>
<br>
<button type="submit" (click)="calculateRNAStrand()">Calculate RNA</button>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
