table
{
    width: 200px;
    border-collapse: collapse;
    border: 1px solid;
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

td, th
{
    width: 50%;
    border: 1px solid;
    border-style: solid;
    border-color: rgb(160, 160, 160);

    text-align: center;
}
